
.carouflix {
    overflow: hidden;
    position: relative;
    background-color: var(--carouflix-background-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.arrow {
    position: absolute;
    height: 100%;
    width: var(--arrow-size);
    z-index: 11;
    border: none;
    padding: 0;
    background-color: transparent;

    & img {
        width: 100%;
    }
}

#left-arrow {
    left: 0;
}

#right-arrow {
    right: 0;
}

.slider {
    position: relative;
    left: var(--slider-left);
    width: var(--slider-width);
    height: 100%;
}

.item {
    width: var(--item-width);
    height: 100%;
    position: absolute;
    transition: left var(--transition-time), right var(--transition-time);
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & img {
        max-height: 100%;
        max-width: 90%;
    }
}

:root {
    --transition-time: 0.5s;
    --item-width: 9vw;
    --slider-width: 100vw;
    --slider-left: 30vw;
    --carouflix-background-color: transparent;
    --arrow-size: 30px;
}
